* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 24px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #f2f3f4;
}

.header {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  background-color: #45545e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
}

.title {
  display: flex;
  align-items: center;
  margin: 40px;
  cursor: pointer;
}

.moon {
  height: 60px;
  width: 76px;
}

.dropdown {
  border: 1px solid white;
  border-radius: 8px;
  background: #45545e;
  position: absolute;
  top: 17px;
  right: 40px;
}

.myAcc {
  width: 200px;
  background-color: #45545e;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

.myAccMobile {
  display: none;
}

a, a:visited, a:active{
  text-decoration: none;
  color: white;
}

.favourite {
  padding: 10px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

@media all
and (max-width: 400px)
and (max-height: 900px) {
  .myAcc {
    display: none;
  }

  .myAccMobile {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #45545e;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
  }

  .title {
    margin: 10px;
  }

  .dropdown {
    right: 15px;
  }

  .favourite {
    display: none;
  }
}

@media all
and (max-width: 1300px)
and (max-height: 1080px) {
  * {
    font-size: 20px;
  }

  .header {
    height: 75px;
  }

  .moon {
    height: 50px;
    width: 66px;
  }

  .myAcc {
    width: 100px;
    font-size: 16px;
  }

  .favourite {
    width: 100px;
    font-size: 16px;
  }
}
