<div class='header'>
  <div class='title'>
    <img class='moon' [src]='linkOfMoon' alt='moon'/>
    <a [routerLink]="['/']"><p>Movies</p></a>
  </div>
  <div class="dropdown" (mouseleave)="button = true">
    <div class="myAcc" (click)="button = !button">My Account ˅</div>
    <div class="myAccMobile" [routerLink]="['/favourite']">˅</div>
    <div
      class="favourite"
      [ngStyle]="{ display: button ? 'none' : 'block'}"
      [routerLink]="['/favourite']"
    >
      Favourites
    </div>
  </div>
</div>
