<div class="header">
  <div class="title">
    <img src="https://raw.githubusercontent.com/Chahlyk/smth/movies/movies/pictures/moon-clip-art-38.png" class="moon" alt="moon"/>
    <a [routerLink]="['/']"><p>Movies</p></a>
  </div>
  <div class="myAcc" (click)="acc = !acc">
    <p>My Account ˅</p>
  </div>
</div>
<div
  class="filmList"
  [ngStyle]="{display: acc ? 'block' : 'none'}"
>
  <div *ngFor="let film of films">
    <div class="filmPoster"
         [ngStyle]="{'background-image':  'url('+ linkForImage + film.poster_path +')'}"
    ></div>
    <div>
      <div class="unfavourite">Unfavourite</div>
      <p class="filmTitle">{{film.title}}</p>
      <p class="filmOverview">{{film.overview}}</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
