.detailInnerPoster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center;
  background-size: cover;
  display: block;
  filter: blur(4px);
}

.detailBlur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.innerDetail {
  width: 1000px;
  color: white;
  margin: auto;
  margin-top: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addToFavourite {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  background: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.detailPoster {
  width: 300px;
  height: 450px;
  background: center;
  background-size: cover;
  border-radius: 10px;
}

.innerDetailText {
  width: 650px;
}

.addToFavouriteMobile {
  display: none;
}

.innerTitle {
  font-size: 24px;
  padding-bottom: 15px;
}

.ul {
  display: flex;
  padding-left: 0;
}

.ulMobile {
  display: none;
}

li {
  list-style: none;
}

.vote {
  padding-right: 15px;
}

.rating {
  border-left: 1px solid white;
  padding: 0 15px;
}

.releaseDate {
  border-left: 1px solid white;
  padding: 0 15px;
}

.overview {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0;
  margin: 40px 0 0 0;
  font-size: larger;
}

.buttonBack {
  color: white;
  cursor: pointer;
  margin: 150px 50px;
  position: absolute;
  font-size: 24px;
}

.buttonBackMobile {
  display: none;
}

.buttonNext {
  color: white;
  cursor: pointer;
  top: 150px;
  right: 50px;
  position: absolute;
  font-size: 24px;
}

.buttonNextMobile {
  display: none;
}

@media all
and (max-width: 400px)
and (max-height: 900px) {

  .detailBlur {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .innerDetail {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    position: initial;
  }

  .addToFavourite {
    display: none;
  }

  .addToFavouriteMobile {
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background: none;
    display: block;
    position: absolute;
    top: 200px;
    right: 20px;
  }

  .addToFavouriteMobile p {
    margin: -20px 0 0 0;
    font-size: 60px;
    color: white;
  }

  .detailPoster {
    width: 160px;
    height: 225px;
  }

  .innerTitle {
    font-size: 36px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 15px;
    width: 330px;
  }

  .overview {
    font-size: larger;
    width: 330px;
    margin-bottom: 10px;
  }

  .buttonBack {
    display: none;
  }

  .buttonBackMobile {
    color: white;
    cursor: pointer;
    margin: 100px 10px;
    position: absolute;
    font-size: 24px;
    display: block;
  }

  .buttonNext {
    display: none;
  }

  .buttonNextMobile {
    color: white;
    cursor: pointer;
    top: 100px;
    right: 10px;
    position: absolute;
    font-size: 24px;
    margin: 0;
    display: block;
  }

  .ul {
    display: none;
  }

  .ulMobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    font-size: 20px;
    right: 50px;
    height: 225px;
    justify-content: space-between;
  }

  .liMobile p {
    margin: 0;
  }

  .data {
    font-size: 24px;
    font-weight: bold;
  }
}

@media all
and (max-width: 1300px)
and (max-height: 1080px)
and (min-width: 400px) {
  .innerDetail {
    width: 800px;
    margin-top: 220px;
  }

  .detailPoster {
    width: 200px;
    height: 300px;
  }

  .innerDetailText {
    width: 500px;
  }

  .innerTitle {
    padding-bottom: 0;
  }

  .overview {
    padding: 15px 0;
    margin: 20px 0 0 0;
    font-size: 16px;
  }

  .addToFavourite {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .buttonBack {
    margin: 120px 50px;
    font-size: 16px;
  }

  .buttonNext {
    top: 120px;
    right: 50px;
    font-size: 16px;
    margin: 0;
  }
}
