<p class='releases'>Latest Releases</p>
<div id='mainContent'>
  <app-poster *ngFor='let poster of posters | paginate: {
                                                itemsPerPage: 20,
                                                currentPage: page,
                                                totalItems: totalItems
                                                   }'
              [poster]='poster'></app-poster>
</div>

<pagination-template (pageChange)="pageChanged($event)"  #p="paginationApi">
  <div class="pagination">
    <div class="item green">
      <a (click)="pageChanged(1)">First</a>
    </div>
    <div class="item prev"  [class.disabled]="p.isFirstPage()">
      <a (click)="p.previous()">Prev</a>
    </div>
    <div class="item num" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
      <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
        <span>{{ page.label }}</span>
      </a>
      <div  class="current" *ngIf="p.getCurrent() === page.value">
        <span>{{ page.label }}</span>
      </div>
    </div>
    <div *ngIf="!p.isLastPage()" class="item next" [class.disabled]="p.isLastPage()">
      <a (click)="p.next()">Next</a>
    </div>
    <div *ngIf="!p.isLastPage()" class="item green">
      <a (click)="pageChanged(p.getLastPage())">Last</a>
    </div>
  </div>
</pagination-template>





