<p class='releases'>Latest Releases</p>
<div id='mainContent'>
  <app-poster *ngFor='let poster of posters | paginate: {
                                                itemsPerPage: 20,
                                                currentPage: page,
                                                totalItems: totalItems
                                                   }'
              [poster]='poster'></app-poster>
</div>
<pagination-controls (pageChange)="page = $event"
                     previousLabel="Prev"
                     nextLabel="Next"></pagination-controls>




