* {
  font-size: 40px;
  font-family: sans-serif;
  color: gray;
}

.releases {
  margin: 120px 0 0 50px;
}

#mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

app-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.pagination ul li {
  list-style: none;
  border: 1px solid gray;
  padding: 20px;
  cursor: pointer;
}

.pagination .green {
  color: #00B454;
}

@media all
  and (max-width: 1300px)
  and (max-height: 1080px) {
  * {
    font-size: 24px;
  }

  .releases {
    margin: 110px 0 0 50px;
  }

  #mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media all
and (max-width: 400px)
and (max-height: 900px) {
  .releases {
    margin: 100px 0 0 10px;
    font-size: 24px;
  }

  #mainContent {
    padding: 5px;
  }

  .pagination .remove {
    display: none;
  }

  .pagination ul {
    padding: 0;
  }
}




