.releases {
  margin: 120px 0 0 50px;
  color: gray;
  font-size: 40px;
}

#mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

app-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media all
  and (max-width: 1200px)
  and (max-height: 1080px) {
  .releases {
    margin: 110px 0 0 50px;
    color: gray;
    font-size: 24px;
  }

  #mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media all
and (max-width: 400px)
and (max-height: 900px) {
  .releases {
    margin: 100px 0 0 10px;
    font-size: 24px;
  }

  #mainContent {
    padding: 5px;
  }
}




