.info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center;
  background-size: cover;
  display: block;
  filter: blur(4px);
}

.infoBlur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.innerInfo {
  width: 1000px;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoPoster {
  width: 300px;
  height: 350px;
  background: center;
  background-size: cover;
}

.innerInfoText {
  font-size: 16px;
  width: 600px;
}

.overview {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0;
  margin: 40px 0 0 0;
}

.vote {
  padding-right: 15px;
}

.rating {
  border-left: 1px solid white;
  padding: 0 15px;
}

.releaseDate {
  border-left: 1px solid white;
  padding: 0 15px;
}

.innerTitle {
  font-size: 24px;
  padding-bottom: 15px;
}

.favourite {
  width: 220px;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.buttonBack {
  color: white;
  cursor: pointer;
  margin: 150px 50px;
  position: absolute;
}

.buttonNext {
  color: white;
  cursor: pointer;
  top: 150px;
  right: 50px;
  position: absolute;
}

ul {
  display: flex;
}

li {
  list-style: none;
}
