* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 24px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #f2f3f4;
}

.header {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0;
  background-color: #45545e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
}

.title {
  display: flex;
  align-items: center;
  margin: 40px;
}

.moon {
  height: 60px;
  width: 76px;
}

.myAcc {
  width: 200px;
  height: 45px;
  background-color: #45545e;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin: 40px;
}

.releases {
  margin: 120px 0 0 50px;
  color: gray;
  font-size: larger;
}

#mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

app-posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


