<div class="filmList">
  <p class="myFavourite">My favourite</p>
  <div class="film" *ngFor="let film of films">
    <div class="filmPoster" [ngStyle]="{'background-image':  'url('+ linkForImage + film.poster_path +')'}"></div>
    <div>
      <p class="filmTitle">{{film.title}}</p>
      <div class="unfavourite" (click)="removeFilm(film)">Unfavourite</div>
      <p class="filmOverview">{{film.overview}}</p>
      <p class="filmOverviewMobile">{{film.overview.length > 155 ? film.overview.slice(0, 155) + '…' : film.overview}}</p>
    </div>
  </div>
</div>
